<div class="container" ng-controller="TaskCreateCtrl as $crtl">
  <h1>Nova Tarefa</h1>

  <form novalidate name="newTask">
    <div class="form-group">
      <label for="exampleInputEmail1">Tarefa</label>

      <input
        ng-required="true"
        class="form-control"
        ng-model="$crtl.task.nome"
        name="nome"
   
      />
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Data</label>

      <input
        ng-required="true"
        class="form-control"
        name="prazo"
        ng-model="$crtl.task.prazo"
        type="datetime-local"
      />
    </div>

    <button class="btn " type="reset" ui-sref="tasks">CANCELAR</button>
    <button
      class="btn btn-primary"
      ng-disabled="newTask.$invalid"
      ng-click="$crtl.addTask($event, $crtl.task)">
      NOVA TAREFA
    </button>
  </form>
</div>
